<div class="menu" (clickOutside)="clickOutside()">
    <nav class="navbar navbar-expand-md p-0">
        <ul class="navbar-nav w-100 align-items-center" *ngIf="menu && menu.length > 0">
            <li class="d-flex h-100 nav-item align-items-center" *ngFor="let item of menu">
                <a class="nav-link px-3" [ngClass]="link == item.href ? 'color-primary' :' text-dark'"
                    style="cursor: pointer;" (click)="routerLink(item)">
                    <div class="align-items-center d-flex">
                        <span class="font-weight-500 text-uppercase">{{ item.name }}</span>
                        <i class="fas fa-angle-down ml-2 color-primary" *ngIf="(item.data.length > 0)"></i>
                    </div>
                </a>
                <div id="sub-menu" class="sub-menu" [style]="active == item.id ? 'display: block' : 'display: none'"
                    *ngIf="item.data && item.data.length > 0 && sub_menu">
                    <!-- ba cap -->
                    <ul [id]="'sub-menu-' + item.level" *ngIf="item.data[0].data.length > 0">
                        <li class="text-right" [routerLink]="['/' + row.href]"
                            [ngClass]="active_level ==  row.id  ? 'active' :''"
                            *ngFor="let row of item.data; let y = index">
                            <div class="px-4 position-relative" style="padding-top: 12px; padding-bottom: 12px;">
                                <span class="font-weight-500 titleAcitve" (click)="onActiveLevel(row.id)">
                                    {{ row.name }}</span>
                            </div>
                            <div class="text-left bg-white " [id]="'sub-menu-' + row.level "
                                [ngClass]="active_level ==  row.id  ? 'd-block active' :'d-none'">
                                <div class="px-3 d-inline-block" [ngClass]="'sub-menu-' + r.level "
                                    *ngFor="let r of row.data ">
                                    <a class="nav-link pt-0 pb-0" [routerLink]="'/'+r.href" *ngIf="r.type != 1">
                                        <span class="font-weight-500 text-truncate d-block">
                                            {{ r.title && r.title !='' ? r.title : r.name }}
                                        </span>
                                        <div class="text-dark mt-2">
                                            <!-- <small class="text__hidden"> {{ r.description }}</small> -->
                                        </div>
                                    </a>
                                    <a class="nav-link pt-0 pb-0" [href]="r.href" *ngIf="r.type == 1" target="_blank">
                                        <span class="font-weight-500">
                                            {{ r.title && r.title !='' ? r.title : r.name }}
                                        </span>
                                        <div class="text-dark mt-2">
                                            <!-- <small class="text__hidden"> {{ r.description }}</small> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- hai cap -->
                    <ul [id]="'sub-menu-'+ item.level" *ngIf="item.data[0].data.length == 0">
                        <li class="text-right active">
                            <div class="px-4 py-2 position-relative">
                                <span class="font-weight-500 titleAcitve">{{ item.name }}</span>
                            </div>
                            <div class="text-left active" [id]="'sub-menu-' + (item.level + 1) "
                                [ngClass]="'sub-menu-' + (item.level + 1) + '-0'  ">
                                <div class="px-4 py-0 d-inline-block" [ngClass]="'sub-menu-' + (row.level + 1)"
                                    *ngFor="let row of item.data;let i = index">
                                    <a class="nav-link pt-0 pb-0" [routerLink]="'/'+row.href" *ngIf="row.type != 1">
                                        <span class="font-weight-500">
                                            {{ row.title && row.title !='' ? row.title : row.name }}
                                        </span>
                                        <div class="text-dark mt-2">
                                            <!-- <small class="text__hidden"> {{ row.description }}</small> -->
                                        </div>
                                    </a>
                                    <a class="nav-link pt-0 pb-0" [href]="row.href" *ngIf="row.type == 1"
                                        target="_blank">
                                        <span class="font-weight-500">
                                            {{ row.title && row.title !='' ? row.title : row.name }}
                                        </span>
                                        <div class="text-dark mt-2">
                                            <!-- <small class="text__hidden"> {{ row.description }}</small> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>