<div class="modal-body"
     aria-hidden="false">
  <div class="d-flex">
    <i class="far fa-question-circle text-left"
       style="color: red; font-size: 100px"></i>
    <p class="my-auto ml-2">{{ messages | translate : { name : name } }}</p>
  </div>
  <div class="text-right">
    <button type="button"
            class="btn btn-default mr-2"
            (click)="modalRef.hide()">{{ 'btn.close' | translate }}</button>
    <button type="button"
            class="btn btn-danger"
            (click)="onConfirm()">{{ 'btn.ok' | translate }}</button>
  </div>
</div>