<div class="bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 d-none d-md-block">
                    <div class="h-100">
                        <div class="bg--primary p-2 text-white">
                            <i class="fas fa-list mr-2"></i>
                            <span>DANH MỤC SẢN PHẨM</span>
                        </div>
                        <div class="productCategory">
                            <ul class="list-group">
                                <li class="list-group-item py-1 px-2">
                                    <a class="nav-link text-dark" [routerLink]="['san-pham']">
                                        <div class="align-items-center d-flex w-100 justify-content-between">
                                            <div>
                                                <!-- <img class="mr-2" *ngIf="item.icon && item.icon.length > 4"
                                                    style="width:20px" [src]="item.icon" /> -->
                                                <span>Sản phẩm</span>
                                                <!-- <span> {{ item.name }} </span> -->
                                            </div>
                                            <i class="fas fa-angle-right color-primary"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu border-0 p-3">
                                        <!-- <div class="py-2 px-4 color-primary">
                                            <h4>Các loại</h4>
                                            <h4> {{ item.name }} </h4>
                                        </div> -->
                                        <div class="d-inline-block" style="width: 33%;"
                                            *ngFor="let row of productCategory.data">
                                            <a class="dropdown-item px-3 py-2 text-truncate bg-transparent text-body"
                                                [routerLink]="['san-pham/' + row.link]">
                                                <i class="fas fa-minus color-primary mr-2"></i>
                                                <span style="font-size: 14px;">{{ row.name }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div>
                            <img width="100%" src='../../../assets/img/ads-banner.gif' alt="Ads banner" />
                        </div> -->
                    </div>
                </div>
                <div class="col-md-9 p-0 pl-md-0 pr-md-3">
                    <app-slide></app-slide>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="place product bg-white" *ngIf="product.data && product.data.length > 0">
    <div class="container-main">
        <div class="container-fluid mb-4" *ngFor="let item of product.data">
            <div
                class="border-bottom border-bottom border--primary position-relative mb-3 d-flex align-items-end justify-content-between">
                <h5 class="text-white p-2 mb-0 d-inline-flex bg--primary">
                    {{ item.name }}
                </h5>
                <button [routerLink]="['/san-pham/' + item.link]" role="button"
                    class="d-inline-flex align-items-center btn bg-white rounded-0 py-2 px-4 mt-3">
                    <span class="mr-2"> {{ 'FEbtn.more' | translate }} </span>
                    <i class="fal fa-long-arrow-right color-secondary"></i>
                </button>
            </div>
            <div class="row px-2" *ngIf="item.list && item.list.length > 0">
                <div class="col-6 col-md-3 col-xl-2dot4 px-2 mb-3" *ngFor="let row of item.list">
                    <app-box-product [item]="row"></app-box-product>
                </div>
            </div>
            <div class="text-center" *ngIf="!item.list || item.list.length == 0">
                <h4 class="my-4 color-main product-not-have">
                    {{ 'FEProduct.notUpdated' | translate }}
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- <div class="place product" *ngIf="product.group.title && product.group.title.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title text-center position-relative pb-4">
                        <h2 class="font-weight-bold text-danger">
                            {{ product.group.title }}
                        </h2>
                        <div>
                            {{ product.group.description }}
                        </div>
                        <div class="bottom-dots">
                            <span class="dot line-dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-group text-center mb-4">
                <div class="product-group-item d-inline-block font-weight-bold text-uppercase px-0 px-md-3 py-1"
                    *ngFor="let itemGroup of product.group.list; index as i"
                    (click)="product.getProductList(itemGroup);"
                    [ngClass]="{'productGroupActive': product.item.id == itemGroup.id}">
                    <span>{{ itemGroup.name }}</span>
                </div>
            </div>
            <div class="row px-2" *ngIf="product.data && product.data.length > 0">
                <div class="col-6 col-md-3 col-xl-2dot4 px-2 mb-3" *ngFor="let item of product.data">
                    <app-box-product [item]="item"></app-box-product>
                </div>
                {{product.group.link}}
                <div class="text-right col-12">
                    <button [routerLink]="[ '/san-pham/' +  product.item.link  ]" role="button"
                        class="d-inline-flex align-items-center btn btn-white rounded-0 py-2 px-4 mt-3">
                        <span class="mr-2"> {{ 'FEbtn.more' | translate }} </span>
                        <i class="fal fa-long-arrow-right color-secondary"></i>
                    </button>
                </div>
            </div>

            <div class="text-center" *ngIf="!product.data || product.data.length == 0">
                <h4 class="my-4 color-main product-not-have">
                    {{ 'FEProduct.notUpdated' | translate }}
                </h4>
            </div>
        </div>
    </div>
</div> -->
<div class="banner pb-3 bg-white">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" *ngIf="slide.data[0]">
                    <a [routerLink]="[ '/' + slide.data[0].link ]">
                        <img class="img-fluid"
                            [defaultImage]="slide.data[0].images ? slide.data[0].images : '../../../../assets/img/default_product.png'"
                            [lazyLoad]="slide.data[0].images" [title]="slide.data[0].name" [alt]="slide.data[0].name">
                    </a>
                </div>
                <div class="col-md-6" *ngIf="slide.data[1]">
                    <a [routerLink]="[ '/' + slide.data[1].link ]">
                        <img class="img-fluid"
                            [defaultImage]="slide.data[1].images ? slide.data[0].images : '../../../../assets/img/default_product.png'"
                            [lazyLoad]="slide.data[1].images" [title]="slide.data[1].name" [alt]="slide.data[1].name">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="place about-us position-relative" *ngIf="aboutUs.data.name && aboutUs.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="title position-relative pb-4">
                        <h2 class="font-weight-bold">{{ aboutUs.data.name }}</h2>
                        <div>{{ aboutUs.data.title }}</div>
                        <div class="bottom-dots">
                            <span class="dot line-dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                    <div>{{ aboutUs.data.description }}</div>
                    <div class="pt-3 d-md-none">
                        <img [defaultImage]="aboutUs.data.images ? aboutUs.data.images : '../../../../assets/img/default_product.png'"
                            style="max-width: 100%;" [lazyLoad]="aboutUs.data.images" [title]="aboutUs.data.name"
                            [alt]="aboutUs.data.name">
                    </div>
                    <a [routerLink]="[ '/' + aboutUs.data.link ]">
                        <div
                            class="view-more mt-md-5 mt-4 text-white d-inline-block text-uppercase position-relative font-weight-bold">
                            {{ 'FEbtn.viewMore' | translate }}
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 pl-md-0 d-none d-md-block">
                    <div class="about-images float-right">
                        <img class="img-fluid"
                            [defaultImage]="aboutUs.data.images ? aboutUs.data.images : '../../../../assets/img/default_product.png'"
                            [lazyLoad]="aboutUs.data.images" [title]="aboutUs.data.name" [alt]="aboutUs.data.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content" *ngIf=" content.data.name && content.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-md-4">
                    <div class="col-md-12 text-right text-uppercase">
                        <p class="font-weight-bold">{{content.data.name}}</p>
                        <h3 class="">{{content.data.title}}</h3>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <button [routerLink]="[ '/'+ content.data.link]" role="button"
                        class="d-inline-flex align-items-center btn rounded-0 py-2 px-4 mt-3">
                        <span class="mr-2"> {{ 'FEbtn.more' | translate }} </span>
                        <i class="fal fa-long-arrow-right color-secondary"></i>
                    </button>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-6 col-lg-3 px-4 px-md-3" *ngFor="let item of content.data.list">
                    <app-box-content [item]="item"></app-box-content>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" *ngIf="slide.data[2]">
                    <a [routerLink]="[ '/' + slide.data[2].link ]">
                        <img class="img-fluid"
                            [defaultImage]="slide.data[2].images ? slide.data[2].images : '../../../../assets/img/default_product.png'"
                            [lazyLoad]="slide.data[2].images" [title]="slide.data[2].name" [alt]="slide.data[2].name">
                    </a>
                </div>
                <div class="col-md-6" *ngIf="slide.data[3]">
                    <a [routerLink]="[ '/' + slide.data[3].link ]">
                        <img class="img-fluid"
                            [defaultImage]="slide.data[3].images ? slide.data[0].images : '../../../../assets/img/default_product.png'"
                            [lazyLoad]="slide.data[3].images" [title]="slide.data[3].name" [alt]="slide.data[3].name">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="{'place': partner.data && partner.data.length > 0 }">
    <div class="container-main">
        <div class="container-fluid" id="owl-carousel">
            <owl-carousel-o [options]="partner.options" class="owl-product">
                <ng-container *ngFor="let item of partner.data">
                    <ng-template carouselSlide
                        [width]="(width > 415 && partner.data.length >= 5) || (width < 415 && partner.data.length >= 2) ? '' :  widthOwl">
                        <div class="border m-1">
                            <img [src]="item.logo" [alt]="item.company" width="100px">
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>