.item-images {
    width: 35%;
    overflow: hidden;
}

.images {
    height: 80px;
    opacity: 1;
    object-fit: cover;
}

.content-name {
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-name:hover {
    color: var(--color-primary)
}

.item-images::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.card-content:hover .item-images::before {
    animation: shine 1s;
}

.info-container div span, .info-container div i {
    font-size: 0.8rem;
}