<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header">
            <strong>{{ 'settings.website' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row d-flex justify-content-between">
                        <div class="col-sm-4 col-4 col-md-4">
                            <!-- logo1 -->
                            <div class="form-group">
                                <label>{{ 'settings.logo' | translate }}</label>
                                <div class="imagesThumb" *ngIf="logo">
                                    <div *ngFor="let item of logo.data ; let i = index" class="m-0">
                                        <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                        <span (click)="logo._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                            class="change">
                                            <i class="far fa-image"></i>
                                        </span>
                                        <span (click)="logo._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span (click)="logo._push($event)" *ngIf="item.type==2" class="add">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </div>
                                    <input type="file" (change)="logo._onchange($event)" accept="image/png, image/jpeg">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-4 col-md-4">
                            <!-- Shortcut -->
                            <div class="form-group">
                                <label>{{ 'settings.shortcut' | translate }}</label>
                                <div class="imagesThumb" *ngIf="shortcut">
                                    <div *ngFor="let item of shortcut.data ; let i = index" class="m-0">
                                        <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                        <span (click)="shortcut._change($event,item)"
                                            *ngIf="item.type==0 || item.type==1" class="change">
                                            <i class="far fa-image"></i>
                                        </span>
                                        <span (click)="shortcut._del(i)" *ngIf="item.type==0 || item.type==1"
                                            class="del">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span (click)="shortcut._push($event)" *ngIf="item.type==2" class="add">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                    <input type="file" (change)="shortcut._onchange($event)"
                                        accept="image/png, image/jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>{{ 'settings.title' | translate }}</label>
                        <input type="text" class="form-control" name="name" formControlName="name"
                            placeholder="{{ 'settings.title' | translate }}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">{{ 'settings.description' | translate }}</label>
                        <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'lblKeyword' | translate }} </label>
                <input type="text" class="form-control" [placeholder]=" 'placeholderKeyword' | translate"
                    (keyup)="tags._keyup($event)">

                <div class="keywords mt-2">
                    <button type="button" class="btn btn-info mr-1 mt-1" *ngFor="let item of tags.dataList">{{ item }}
                        <i class="fas fa-times-circle" (click)="tags._remove(item)"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right">{{
                'btn.save'
                | translate }}</button>
        </div>
    </div>
</form>