@import 'src/scss/abstracts/colors';

header {
    background: #fff;
    z-index: 10;
    position: relative;
    width: 100%;
    box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);
}
.contact a {
    color: #7a8088;
    padding: 5px 14px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
}

.logo-header {
    // max-width: 100px;
    transform: translateZ(0);
    // transition: 0.67s;
}

.footer-social {
    color: #a2a2a2;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s;
    font-size: 16px;
}

/* search  */

.search {
    position: absolute;
    top: 61px;
    right: 0;
    width: 300px;
    padding: 0 20px;
    background-color: #fff;
    border-top: 4px solid $colorPrimary;
    overflow: hidden;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-search {
    outline: none !important;
    border: 0;
    background-color: white;
    padding: 24px 25px 24px 0;
}

.input-search:focus {
    box-shadow: none;
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 138px;
    right: 0;
    padding-top: 75px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: var(--color-primary);
}

.search-input,
.search-input-mobile {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    /* font-family: arial; */
    font-size: 14px;
    font-style: italic;
    height: 48px;
    line-height: 48px;
    outline: medium none;
    padding: 0 55px 0 170px;
    width: 100%;
}

.search-input-mobile {
    padding: 0 50px 0 20px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 33%;
    font-size: 16px;
    cursor: pointer;
}

.navbar-fixed {
    z-index: 10;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    // height: 109px;
    background: #fff !important;
    animation: fadeInDown 800ms;
    box-shadow: 0px 0px 6px #29363d38;
}

/* menu  */

.menu-mobi-hidden {
    display: none;
    transform: translate3d(-100%, 0px, 0px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.menu-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    /* overflow-x: hidden; */
    transition: 0.3s;
    left: 0;
    top: 8px;
    bottom: 0;
    right: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.11);
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 170px;
    right: 0;
    padding-top: 100px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: var(--color-primary);
}

.bg-icon {
    background-color: #f1f1f0;
}

/* icon menu tien.nv 22/07/2020 */

.menu-action .search-action i {
    font-size: 1.5rem;
}

.nav-open-btn .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 2px;
}

.nav-open-btn.active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.nav-open-btn.active .line:nth-child(2) {
    opacity: 0;
}

.nav-open-btn.active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* end icon menu  */

// @media (max-width: 1025px) {
//     .logo-header {
//         width: 250px;
//     }
// }

@media (max-width: 768px) {
    // .navbar-fixed {
    //     height: 92px;
    // }

    .search-mobi {
        height: 167px;
        padding-top: 105px;
    }
}

@media (max-width: 541px) {
    // .logo-header {
    //     width: 114px;
    // }

    // .navbar-fixed {
    //     height: 70px;
    // }

    .search-mobi {
        padding-top: 82px;
        height: 140px;
    }

    .bg-icon,
    .cart {
        background-color: transparent;
    }

    .nav-open-btn .line {
        width: 20px;
    }
}

.header {
    &__logo {
        max-height: 69px;
    }
}
