<div class="bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row pt-5">
                <div class="col-md-9">
                    <div class="title-page ">
                        <h2>{{ data.name }}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0"
                                *ngIf="data.name && data.name.length > 0">
                                <li class="breadcrumb-item " aria-current="page">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item " aria-current="page"
                                    *ngIf="data.parent_name && data.parent_name != ''">
                                    <a [routerLink]="[+data.parent_id == 3 ?  ('/'+ data.parent_link) : ('/san-pham/'+ data.parent_link)]"
                                        routerLinkActive="router-link-active">
                                        {{ data.parent_name }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item active " aria-current="page">{{ data.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 mt-4">
                    <div class="input-group input-group">
                        <input type="text" (keyup)="cwstable._search()" [(ngModel)]="cwstable.search.value"
                            class="form-control" placeholder="Tìm kiếm sản phẩm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="list-product" class="bg-light">
    <div class="container-main py-5 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 d-none d-md-block">
                    <div class="card rounded-0 border-0 ">
                        <ul class="pl-0 mb-0" *ngIf="categories && categories.length > 0">
                            <ng-template #recursiveMenu let-categories>
                                <li *ngFor="let item of categories ; let i = index; last as last">
                                    <div (click)=" item.show = !item.show  ">
                                        <div class="title p-3 d-flex align-items-center justify-content-between">
                                            <div [ngStyle]="{'font-size': item.level == 1 ? '15px' : '13px'}"
                                                [routerLink]="['/san-pham/' + item.link ]"
                                                routerLinkActive="router-link-active">
                                                <img class="mr-2"
                                                    *ngIf="item.icon && item.icon.length > 4 && item.level == 1"
                                                    style="width:20px" [src]="item.icon" /> {{ item.name }}
                                            </div>
                                            <i class="fas " style="font-size: 13px;"
                                                *ngIf="item.data && item.data.length"
                                                [ngClass]="item.show > 0 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                                            <!-- <input *ngIf="item.data.length == 0" name='group' type="checkbox"
                                                [checked]="groupCategory.value.includes(+item.id)" type="checkbox"
                                                id="group-{{ item.id }}"> -->
                                        </div>
                                    </div>
                                    <ul class="pl-2" *ngIf="(item.data && item.data.length > 0) && item.show"
                                        [isAnimated]="true">
                                        <ng-container
                                            *ngTemplateOutlet="recursiveMenu; context:{ $implicit: item.data }">
                                        </ng-container>
                                    </ul>
                                </li>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: categories }">
                            </ng-container>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-9 pb-4">
                    <div class="row mb-3 bg-white p-2 p-md-0">
                        <div class="col-4 pr-0">
                            <div class="pt-md-2 mt-md-1" style="color: #595959">
                                {{ cwstable.settings.total > 0 ? cwstable.settings.total : 0 }}
                                {{ 'FEProduct.product' | translate }}
                            </div>
                            <div class="d-md-none " style="color: #595959">
                                {{ 'FEProduct.filterTitle' | translate }}
                                <i class="action-icon fas fa-list-alt ml-2" style="line-height: 30px;"
                                    (click)="setMenuMobile(true)" style=" font-size: 1.3rem;line-height: 30px;"></i>
                            </div>
                        </div>
                        <div class="py-md-2 col-8 d-flex justify-content-end p-0">
                            <div class="d-flex align-items-center justify-content-between ">
                                <div *ngFor="let col of cwstable.cols; let i = index" class="mr-md-3">
                                    <span class="mr-2">{{ col.title | translate }}</span>
                                    <button (click)="cwstable._sorting(col.field, 'desc')"
                                        class="btn btn-sm rounded-0 mr-2">
                                        <i class="fas fa-sort-amount-down"></i>
                                    </button>
                                    <button (click)="cwstable._sorting(col.field, 'asc')" class="btn btn-sm rounded-0">
                                        <i class="fas fa-sort-amount-up"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ListData" class="row p-2 p-lg-0" *ngIf="show == 1 ">
                        <div class="col-lg-3 col-md-4 col-6 px-2 mb-3" *ngFor="let item of cwstable.data">
                            <app-box-product class="mb-4" [item]="item"> </app-box-product>
                        </div>
                        <div class="col-12 text-center pt-4 pb-4" *ngIf="!cwstable.data || cwstable.data.length == 0">
                            <h4>{{ 'FEProduct.NotHaveProduct' | translate }}</h4>
                        </div>
                        <div *ngIf="show == -1 ">
                            <div
                                class="position-relative d-flex align-items-center justify-content-center pt-lg-5 pt-4 pb-lg-5 pb-4">
                                <img src="../../../../assets/img/loading.gif" width="125px">
                            </div>
                        </div>
                        <div class="col-12" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                            <pagination [directionLinks]="false" class="d-flex justify-content-end pt-lg-4"
                                [totalItems]="cwstable.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                                [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
                            </pagination>
                        </div>
                    </div>
                    <div class="row" *ngIf="show == 0 ">
                        <div class="col-12 text-center pt-4 pb-4">
                            <h4>{{ 'FEProduct.NotHaveProduct' | translate }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="openMobileFilter;then FilterMobile"></div>


<ng-template #FilterMobile>
    <div id="mobile-filter" class="position-fixed">
        <div class="bg position-absolute w-100 h-100" (click)="setMenuMobile(false)"></div>
        <div class="content h-100 w-75" style="background-color: whitesmoke;">
            <div class="card rounded-0 border-0">
                <div class="card rounded-0 border-0 ">
                    <ul class="pl-0 mb-0" *ngIf="categories && categories.length > 0">
                        <ng-template #recursiveMenu let-categories>
                            <li *ngFor="let item of categories ; let i = index; last as last">
                                <div (click)=" item.show = !item.show  ">
                                    <div class="title p-3 d-flex align-items-center justify-content-between">
                                        <div [ngStyle]="{'font-size': item.level == 1 ? '15px' : '13px'}"
                                            [routerLink]="['/san-pham/' + item.link ]"
                                            routerLinkActive="router-link-active">
                                            <img class="mr-2"
                                                *ngIf="item.icon && item.icon.length > 4 && item.level == 1"
                                                style="width:20px" [src]="item.icon" /> {{ item.name }}
                                        </div>
                                        <i class="fas " style="font-size: 13px;" *ngIf="item.data && item.data.length"
                                            [ngClass]="item.show > 0 ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                                        <!-- <input *ngIf="item.data.length == 0" name='group' type="checkbox"
                                            [checked]="groupCategory.value.includes(+item.id)" type="checkbox"
                                            id="group-{{ item.id }}"> -->
                                    </div>
                                </div>
                                <ul class="pl-2" *ngIf="(item.data && item.data.length > 0) && item.show"
                                    [isAnimated]="true">
                                    <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: item.data }">
                                    </ng-container>
                                </ul>
                            </li>
                        </ng-template>
                        <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: categories }">
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>